.app {
  width: 100%;
  max-width: 740px;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
}

.heading {
  color: #d9dfe7;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}
